
:root {
    --0-perc: rgba(0, 123, 252, 1);
    --10-perc: rgba(34, 176, 219, 1);
    --20-perc: rgba(61, 219, 192, 1);
    --30-perc: rgba(84, 210, 169, 1);
    --40-perc: rgba(102, 203, 151, 1);
    --50-perc: rgba(128, 194, 126, 1);
    --60-perc: rgba(153, 184, 101, 1);
    --70-perc: rgba(179, 175, 76, 1);
    --80-perc: rgba(204, 165, 51, 1);
    --90-perc: rgba(232, 74, 23, 1);
    --100-perc: rgba(255, 0, 0, 1);
}

.card.daily-forecast .card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card.daily-forecast .card-content .js-daily-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
}

.js-day-name {
    min-width: 50px;
}

.js-temp-bar {
    width: 30%;
    height: 5px;
    position: relative;
    border-radius: 5px;
    background: #ddd;
}

.js-temp-bar .js-bar {
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background: rgb(0, 243, 252);
    background: linear-gradient(90deg, var(--mild), var(--warm));
}