.card.hourly-forecast .card-content {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
    scrollbar-width: none
}

.card.hourly-forecast .card-content .js-hour-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}