.card.hourly-forecast {
    height: fit-content;
}

.card.hourly-forecast .card-content {
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
    scrollbar-width: none
}

.card.hourly-forecast .card-content .js-hour-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card.hourly-forecast .card-content .js-hour-item .js-hour-weather-type {
    filter: contrast(200%);
}

@media (min-width: 1025px) {
    .card.hourly-forecast .card-content {
            height: fit-content;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            overflow-x: scroll;
            scrollbar-width: none;
            margin-bottom: auto;
            margin-top: auto;
        }
}