 :root {
    --gmpx-color-surface: #242424;
    --gmpx-color-on-surface: #ffffff;

    /* CARD NIGHT POSITIONING */

    --card-bg-top-position-clear-night: -20%;
    --card-bg-top-position-cloudy-night: -50%;
    --card-bg-top-position-very-cloudy-night: -40%;
    --card-bg-top-position-fog-night: -100%;
    --card-bg-top-position-light-rain-night: -80%;
    --card-bg-top-position-rain-night: -80%;
    --card-bg-top-position-heavy-rain-night: -80%;
    --card-bg-top-position-light-snow-night: -80%;
    --card-bg-top-position-snow-night: -80%;
    --card-bg-top-position-thunderstorm-night: -150%;
    --card-bg-top-position-heavy-snow-night: -80%;

    --card-bg-left-position-clear-night: -130%;
    --card-bg-left-position-cloudy-night: -120%;
    --card-bg-left-position-very-cloudy-night: -60%;
    --card-bg-left-position-fog-night: -100%;
    --card-bg-left-position-light-rain-night: -60%;
    --card-bg-left-position-rain-night: -60%;
    --card-bg-left-position-heavy-rain-night: -60%;
    --card-bg-left-position-light-snow-night: -60%;
    --card-bg-left-position-snow-night: -60%;
    --card-bg-left-position-thunderstorm-night: -20%;
    --card-bg-left-position-heavy-snow-night: -60%;

    /* CARD DAY POSITIONING */
    --card-bg-top-position-sunny-day: 0%;
    --card-bg-top-position-cloudy-day: 0%;
    --card-bg-top-position-very-cloudy-day: -50%;
    --card-bg-top-position-fog-day: -100%;
    --card-bg-top-position-light-rain-day: -80%;
    --card-bg-top-position-rain-day: -80%;
    --card-bg-top-position-heavy-rain-day: -80%;
    --card-bg-top-position-light-snow-day: -80%;
    --card-bg-top-position-snow-day: -80%;
    --card-bg-top-position-thunderstorm-day: -150%;
    --card-bg-top-position-heavy-snow-day: -80%;

    --card-bg-left-position-sunny-day: -130%;
    --card-bg-left-position-cloudy-day: -130%;
    --card-bg-left-position-very-cloudy-day: -60%;
    --card-bg-left-position-fog-day: -100%;
    --card-bg-left-position-light-rain-day: -60%;
    --card-bg-left-position-rain-day: -60%;
    --card-bg-left-position-heavy-rain-day: -60%;
    --card-bg-left-position-light-snow-day: -60%;
    --card-bg-left-position-snow-day: -60%;
    --card-bg-left-position-thunderstorm-day: -20%;
    --card-bg-left-position-heavy-snow-day: -60%;
 }
 
 #saved-locations {
    gap: 12px;
 }

 .settings {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
 }

 .search {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
 }

 .search p {
    font-size: 2rem;
    font-weight: 600;
 }

 .search gmpx-place-picker {
    width: 100%;
 }

 .search input:focus {
    border: 0;
 }

 .search input::placeholder {
    color: #757575;
 }

 #place-picker-box {
     width: 100%;
 }

 #place-picker-container {
     text-align: left;
 }
 
 .pac-container {
    margin-top: 10px;
    background-color: #000000;
    border: 0;
    text-align: left;
    border: 0;
 }

 .pac-item {
    border: 0;
    margin-bottom: 5px;
 }

 .pac-item span, span.pac-matched {
    font-weight: 400;
    font-size: 1rem;
 }

 .pac-item .pac-matched {
    color: white;
 }

 .pac-item span {
    color: #949494;
 }

 .pac-icon {
    display: none;
 }

 .pac-item:hover {
    background-color: #141414 !important;
 }

 /* location cards */

 .saved-locations-cards {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    position: relative;
    z-index: 0;
 }

 .saved-locations-cards p {
    text-shadow: 2px 2px 5px rgba(160, 160, 160, 0.8), 0px 0px 2px rgba(160, 160, 160, 0.8);
 }

 .location-container,
 .current-location-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
 }

 .location-card {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 15px;

    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;

    position: relative;
    overflow: hidden;
}

.location-card::before {
    content: "";
    position: absolute;
    width: 300%;
    height: 300%;
    top: var(--top-position);
    left: var(--left-position);
    z-index: -1;
    background: var(--background);
    background-size: cover;
}

.location-card-left {
    margin-right: auto;
}

.location-card-left, .location-card-right {
    display: flex;
    flex-direction: column;
}

.location-card-left p, .location-card-right p{
    font-size: 0.8rem;
    font-weight: 600;
}

.location-card-right {
    align-items: center;
}

p.city {
    font-size: 1.2rem;
}

p.current-temp {
    font-size: 2.5rem;
}

p.weather, .high-min-temp {
    margin-top: auto;
}

.high-min-temp {
    display: flex;
    gap: 5px;
}

@media (min-width: 1025px) {
    :root {
        /* CARD NIGHT POSITIONING */
        
        --card-bg-top-position-clear-night: -20%;
        --card-bg-top-position-cloudy-night: -50%;
        --card-bg-top-position-very-cloudy-night: -50%;
        --card-bg-top-position-fog-night: 0%;
        --card-bg-top-position-light-rain-night: -100%;
        --card-bg-top-position-rain-night: -100%;
        --card-bg-top-position-heavy-rain-night: -100%;
        --card-bg-top-position-light-snow-night: -100%;
        --card-bg-top-position-snow-night: -100%;
        --card-bg-top-position-thunderstorm-night: -100%;
        --card-bg-top-position-heavy-snow-night: -100%;
    
        /* CARD DAY POSITIONING */
        --card-bg-top-position-sunny-day: 0%;
        --card-bg-top-position-cloudy-day: -30%;
        --card-bg-top-position-very-cloudy-day: -100%;
        --card-bg-top-position-fog-day: 0%;
        --card-bg-top-position-light-rain-day: -100%;
        --card-bg-top-position-rain-day: -100%;
        --card-bg-top-position-heavy-rain-day: -100%;
        --card-bg-top-position-light-snow-day: -100%;
        --card-bg-top-position-snow-day: -100%;
        --card-bg-top-position-thunderstorm-day: -100%;
        --card-bg-top-position-heavy-snow-day: -100%;

    }

    #saved-locations {
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }

    .location-card::before {
        left: 0;
        background-size: initial;
    }

}