 :root {
    --gmpx-color-surface: #242424;
    --gmpx-color-on-surface: #ffffff;

    --card-bg-position-clear-night: top;
    --card-bg-position-cloudy-night: top right;
    --card-bg-position-very-cloudy-night: top center;
    --card-bg-position-fog-night: top center;
    --card-bg-position-light-rain-night: center;
    --card-bg-position-rain-night: center;
    --card-bg-position-heavy-rain-night: center;
    --card-bg-position-light-snow-night: center;
    --card-bg-position-snow-night: center;
    --card-bg-position-thunderstorm-night: center;
    --card-bg-position-heavy-snow-night: center right;

    --card-bg-position-sunny-day: top;
    --card-bg-position-cloudy-day: top;
    --card-bg-position-very-cloudy-day: top;
    --card-bg-position-fog-day: top center;
    --card-bg-position-light-rain-day: center;
    --card-bg-position-rain-day: center;
    --card-bg-position-heavy-rain-day: center;
    --card-bg-position-light-snow-day: center;
    --card-bg-position-snow-day: center;
    --card-bg-position-thunderstorm-day: center;
    --card-bg-position-heavy-snow-day: center;
 }
 
 #saved-locations {
    background-color: black;
    gap: 10px;
    background-attachment: none;
 }

 .settings-menu {
    margin-left: auto;
 }

 .search {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
 }

 .search p {
    font-size: 2rem;
    font-weight: 600;
 }

 .search gmpx-place-picker {
    width: 100%;
 }

 .search input:focus {
    border: 0;
 }

 .search input::placeholder {
    color: #757575;
 }

 #place-picker-box {
     width: 100%;
 }

 #place-picker-container {
     text-align: left;
 }
 
 .pac-container {
    margin-top: 10px;
    background-color: #000000;
    border: 0;
    text-align: left;
    border: 0;
 }

 .pac-item {
    border: 0;
    margin-bottom: 5px;
 }

 .pac-item span, span.pac-matched {
    font-weight: 400;
    font-size: 1rem;
 }

 .pac-item .pac-matched {
    color: white;
 }

 .pac-item span {
    color: #949494;
 }

 .pac-icon {
    display: none;
 }

 /* location cards */

 .saved-locations-cards {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1vh;
 }

 .location-card {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 15px;

    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
}

.location-card-left, .location-card-right {
    display: flex;
    flex-direction: column;
}

.location-card-left p, .location-card-right p{
    font-size: 0.8rem;
    font-weight: 600;
}

.location-card-right {
    align-items: center;
}

p.city {
    font-size: 1.2rem;
}

p.current-temp {
    font-size: 2.5rem;
}

p.weather, .high-min-temp {
    margin-top: auto;
}

.high-min-temp {
    display: flex;
    gap: 5px;

}