* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    /* VARS */

    --radius: 10px;
    --light-grey: #ddddddad;

    --main-bg-position-clear-night: 65%;
    --main-bg-position-cloudy-night: 65%;
    --main-bg-position-very-cloudy-night: 90%;
    --main-bg-position-fog-night: 90%;
    --main-bg-position-light-rain-night: 50%;
    --main-bg-position-rain-night: 50%;
    --main-bg-position-heavy-rain-night: 50%;
    --main-bg-position-light-snow-night: 50%;
    --main-bg-position-snow-night: 50%;
    --main-bg-position-thunderstorm-night: 50%;
    --main-bg-position-heavy-snow-night: 60%;

    --main-bg-position-sunny-day: 60%;
    --main-bg-position-cloudy-day: 60%;
    --main-bg-position-very-cloudy-day: 90%;
    --main-bg-position-fog-day: 80%;
    --main-bg-position-light-rain-day: 50%;
    --main-bg-position-rain-day: 60%;
    --main-bg-position-heavy-rain-day: 90%;
    --main-bg-position-light-snow-day: 50%;
    --main-bg-position-snow-day: 50%;
    --main-bg-position-thunderstorm-day: 50%;
    --main-bg-position-heavy-snow-day: 80%;
}

#location, #saved-locations {
    min-height: 100vh;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    padding: 20px;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.header-buttons {
    margin: 10px;
    height: 24px;
    width: 100%;
    display: flex;
}

button {
    background-color: transparent;
    border: 0;
    color: white;
}

.header-buttons button.btn-hidden {
    display: none;
}

button#saved-locations-btn, button#cancel-btn {
    margin-right: auto;
}

button#save-btn {
    margin-left: auto;
}

/* LOCATION CARDS */

.location-info-cards {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vh;
    position: relative;
}

.location-info-cards .card {
    min-height: 12vh;
    border-radius: var(--radius);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    backdrop-filter: blur(200px) brightness(0.80);
    -webkit-backdrop-filter: blur(200px);
    /* background-color: rgba(32, 73, 255, 0.2); */
    background-repeat: no-repeat;
}

hr {
    border: none;
    height: 1px;
    width: 100%;
    /* Set the hr color */
    color: var(--light-grey);
    /* old IE */
    background-color: var(--light-grey);
    /* Modern Browsers */
}

.card.hourly-forecast {
    grid-column: span 2;
}

.card.daily-forecast {
    grid-column: span 2;
    grid-row: span 3;
}

.card.precipitation {
    grid-column: span 2;
    grid-row: span 2;
}

.card.wind {
    grid-column: span 2;
}

.card.pressure {
}

.card.report-issue {
    display: none;
}

.card-title {
    display: flex;
    align-items: center;
    gap: 5px;
}

img.card-title-icon {
    height: 15px;
}

p.card-title-text {
    color: var(--light-grey);
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    line-height: 0;
}


/* MEDIA QUERIES */
/* TABLET */

@media (min-width: 480px) and (max-width: 1025px) {
    * {
        font-size: 25px;
    }

    .location-info-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: 1fr;
        gap: 1vh;
        position: relative;
    }
    
    .location-info-cards .card {
        min-height: 17vh;
        border-radius: var(--radius);
        border: 1px solid black;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .card.hourly-forecast {
        grid-column: span 4;
        order: 0;
    }

    .card.daily-forecast {
        grid-column: span 2;
        order: 1;
    }

    .card.precipitation {
        grid-column: span 2;
        order: 2;
    }

    .card.wind {
        grid-column: span 2;
        order: 3;
    }

    .card.feels-like {
        order: 4;
    }

    .card.uv-index {
        order: 5;
    }

    .card.humidity {
        order: 6;
    }

    .card.sunset {
        order: 7;
    }
}

@media (min-width: 1025px) {
    * {
        font-size: 18px;
    }

    .location-info-cards {
        max-width: 1300px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 1vh;
        position: relative;
    }

    .location-info-cards .card {
        min-height: 17vh;
        border-radius: var(--radius);
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .card.hourly-forecast {
        grid-column: span 4;
        order: 0;
    }

    .card.precipitation {
        grid-column: span 2;
        grid-row: span 3;
        order: 1;
    }

    .card.daily-forecast {
        grid-column: span 2;
        grid-row: span 3;
        order: 2;
    }

    .card.wind {
        grid-column: span 2;
        grid-row: span 1;
        order: 3;
    }

    .card.feels-like {
        order: 5;
    }

    .card.uv-index {
        order: 6;
    }

    .card.humidity {
        order: 7;
    }

    .card.sunset {
        order: 8;
    }

    .card.report-issue {
        grid-column: span 2;
        grid-row: span 1;
        order: 9;
        min-height: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 15px;
        cursor: pointer;
    }

    .card.report-issue img {
        height: 35px;
        margin-top: 15px;
    }

    p.issue-title {
        color: white;
        font-size: 1rem;
        text-transform: none;
        margin-top: 10px;
    }

    p.issue-desc {
        color: #ddd;
        font-size: 0.9rem;
        text-transform: none;
        margin-top: 10px;
    }
}
